* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1350px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-top: 30px;
}

#checking {
    display: none;
}

.checkbutton {
    float: right;
    display: none;
    margin-left: -25px;
}

.center-nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    list-style: none;
}

.right-nav {
    display: flex;
    list-style: none;
}

nav ul {
    text-align: center;
    margin: 0;
    padding: 0;
}

nav li {
    padding: 20px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #000;
    display: block;
}

.banner {
    width: 100%;
    height: 650px;
}

.banner .banner-image {
    padding-left: 200px;
    width: 85%;
    height: 100%;
    display: inline-block;
    position: relative;
    z-index: 0;
}

.banner-image img {
    height: 100%;
    width: 100%;
}

.banner-right-overlay {
    position: absolute;
    width: 130px;
    height: 100px;
    background-color: #5a6e79;
    bottom: -20px;
    right: -20px;
    text-align: center;
    z-index: 1;
}

.banner-right-overlay p {
    color: white;
    font-weight: lighter;
    font-size: 40px;
    padding: 30px;
}

.banner-left-underlay {
    position: absolute;
    min-width: 12%;
    min-height: 18%;
    left: 178px;
    bottom: -20px;
    z-index: -1;
    border: 2px solid black;
}

.banner-text {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #5a6e79;
    width: 40%;
    min-height: 150px;
    left: 0;
    bottom: 540px;
    text-align: left;
    color: #eaf1fb;
    font-family: sans-serif;
    z-index: 1;
}

.banner-text-main {
    display: flex;
    flex: 1;
}

.banner-text-empty {
    flex: 1;
}

.banner-text-content {
    margin: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 70%;
    text-align: left;
}

.banner-text-content h2 {
    line-height: 63px;
    font-size: 39px;
    flex: 1;
    margin-top: 25px;
}

.banner-text-content p {
    flex: 1;
    font-size: 26px;
    line-height: 35px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.services {
    width: 100%;
    margin-bottom: 10%;
    margin-top: -10%;
}

.services-headline {
    display: flex;
    gap: 10%;
    margin-bottom: 10%;
    width: 50%;
}

.services-headline h2 {
    font-size: 40px;
    line-height: 50px;
    position: relative;
    display: flex;
    padding-left: 200px;
}

.services-headline h2::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 20%;
    height: 3px;
    background-color: #000;
}

.service-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-description {
    display: flex;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-direction: column;
    gap: 20%;
    width: 65%;
    padding-right: 80px;
}

.service-description h3 {
    font-size: 25px;
    font-family: sans-serif;
    flex: 1;
}

.service-description p {
    line-height: 25px;
    width: 80%;
    font-size: 20px;
    flex: 1;
}

.service-description i {
    font-size: 40px;
}

.about {
    display: flex;
    justify-content: space-between;
}

.about-image {
    flex: 1;
    max-width: 100%;
    height: auto;
}

.about-image img {
    max-width: 100%;
    max-height: 100%;
}

.about-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about h2 {
    width: 50%;
    font-size: 40px;
    font-weight: 900;
}

.about-count-p {
    font-size: 20px;
    width: 15%;
}

.about-details-main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 18px;
}

.about-count {
    font-weight: bold;
    font-size: 70px;
    color: #6d787e;
    display: flex;
    gap: 50px;
}

.about-details {
    display: flex;
    gap: 20px;
}

.about-text-p {
    width: 90%;
    line-height: 30px;
    font-size: 20px;
}

.about a {
    text-decoration: none;
    font-size: 20px;
    color: #959698;
}

.button-arrow {
    color: #797a7c;
    font-size: 20px;
    font-weight: lighter;
}

.button {
    position: relative;
    border: #97989a solid 2px;
    padding: 10px 20px;
}

.button-arrow i {
    position: absolute;
    margin-left: -4px;
}

.process {
    margin-top: 50px;
    display: flex;
    gap: 0;
}

.process-details {
    display: flex;
    flex-direction: column;
    gap: 5%;
    flex: 1;
}

.process-details h2 {
    font-size: 35px;
    font-family: sans-serif;
    line-height: 50px;
    width: 57%;
}

.process-contain {
    display: flex;
    flex-direction: column;
}

.process-head {
    display: flex;
    gap: 5%;
}

.counter {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #5d6e78;
    text-align: center;
}

.counter p {
    color: #f9fafa;
    line-height: 18px;
    font-size: 22px;
    padding-top: 20px;
    font-family: sans-serif;
    font-weight: 400;
}

.process-head h3 {
    flex: 1;
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 25px;
    text-align: left;
    padding-top: 10px;
}

.circle-counter {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10%;
    flex: 1;
}

.process-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.process-list p {
    flex: 1;
    line-height: 25px;
    font-size: 20px;
    padding-left: 13%;
    width: 65%;
    color: #000;
    position: relative;
    text-align: left;
}

.process-list p::before {
    flex: 1;
    content: "";
    width: 2px;
    height: 145%;
    top: 10%;
    left: 5%;
    background-color: #000;
    position: absolute;

}

.process-contain:last-of-type p::before {
    display: none;
}

.process-image {
    flex: 1;
    object-fit: cover;
    max-width: 550px;
    height: 700px;

}

.process-image img {
    width: 100%;
    height: 100%;
}

.review {
    width: 100%;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    gap: 40%;
    margin-top: 40px;
}

.review-content {
    line-height: 25px;
    padding-bottom: 40px;
    font-size: 17px;
}

.review-headline {
    display: flex;
    flex: 1;
    width: 100%
}

.left-right-arrow {
    padding-top: 70px;
    margin-left: auto;

}

.review-block {
    width: 100%;
    display: flex;
    gap: 2%;
}

.review-details {
    text-align: left;
    padding: 50px;
    background-color: #5a6e79;
    display: block;
    padding: right 40px;
    color: white;
    flex: 1;
}

.review-details i {
    font-size: 70px;
    padding-bottom: 20px;
}

.review h2 {
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 40px;
    font-family: 'Roboto';
    width: 30%;
}

.fa-long-arrow-left {
    color: #c3c4c6;
    font-size: 150px;
    padding-right: 20px;
}

.fa-long-arrow-right {
    color: #5a6e79;
    font-size: 150px;
}

.review-title {
    font-size: 30px;
    color: white;
    font-weight: 800;
    line-height: 40px;
    font-family: 'Roboto';
    padding-bottom: 40px;
    width: 70%;
}

.review-quote {
    font-size: 60px;
    color: white;
    font-weight: 900;
}

.user {
    display: inline-flex;
    line-height: 0px;
}

.user-row {
    margin-top: 12px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.review-details img {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    display: inline-flex;
}

.user-name {
    display: block;
    padding-left: 25px;
}

.user-details {
    padding-left: 23px;
}

.subscribe {
    display: flex;
    flex-direction: column;
    gap: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-family: sans-serif;
    padding-bottom: 150px;
}

.subscription-alert {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 30px;
    width: 50%;
}

.subscription-details {
    text-align: center;
    line-height: 30px;
    width: 60%;
    font-size: 25px;
}

footer {
    background-color: #5a6e79;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

footer .container {
    display: flex;
    flex-direction: column;
    gap: 40%;
}

.subscribe-box {
    align-items: center;
    flex: 1;
    position: absolute;
    background-color: #ffffff;
    width: 35%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -2% auto;
    box-shadow: 0px 0px 2px 2px #e6e6e6;
    left: 50%;
    transform: translateX(-50%);
}

.footer-list {
    flex: 1;
    display: flex;
    padding: 100px 0;
    align-items: flex-start;
    margin-left: 0;
    justify-content: flex-start;
}

.subscribe-box input {
    flex: 1;
    border: 0px;
    padding-left: 0px;
    font-size: 20px;
}

.subscribe-button {
    flex: 1;
    background-color: #5a6e79;
    width: 80px;
    height: 70px;
    color: #fdfeff;
    margin-top: 5px;
    margin-right: 10px;
}

.subscribe-box a {
    text-decoration: none;
    font-size: 23px;
    text-align: center;
}

.subscribe-box p {
    padding-top: 20px;
}

.footer-list ul {
    list-style: none;
    color: #e1f0f7;
    flex: 1;
}

.footer-list ul li {
    text-decoration: none;
    color: #e1f0f7;
    line-height: 28px;
}

.footer-list li:first-child {
    font-size: 30px;
    padding-bottom: 20px;
}

.footer-about {
    display: flex;
    flex-direction: column;
    gap: 20%;
}

.footer-about p {
    font-size: 16px;
    padding-top: 20px;
    width: 66%;
}

.footer-list ul a {
    color: #e1f0f7;
    padding-top: 20px;
    text-decoration: none;
}

.social-media {
    margin-left: -55px;
    padding-top: 50px;
    font-size: 20px;
    text-indent: 30px;
}

@media (max-width:1450px) {
    .banner-text-content {
        margin-left: 40px;
    }

    .banner-text-empty {
        display: none;
    }

    .subscribe-box {
        width: 44%;
        height: 19%;
        margin: -4% auto;
    }
}

@media (min-width:1096px)and (max-width:1386px) {
    .banner .banner-image {
        padding-left: 150px;
    }

    .banner-right-overlay {
        right: -12px;
    }

    .banner-left-underlay {
        left: 126px;
    }

    .banner-text {
        width: 25%;
        min-height: 328px;

    }

    .banner-text-empty {
        display: none;
    }

    .banner-text-content {
        gap: 25px;
    }

    .banner-text-content p {
        width: 50%;
        font-size: 17px;
        line-height: 22px;
    }

    .banner-text-content h2 {
        line-height: 38px;
        font-size: 30px;
        width: 70%;
    }

    .review {
        margin-top: 100px;
    }

    .subscription-alert {
        width: 36%;
        font: 25px;
    }

    .subscription-details {
        width: 40%;
        font-size: 18px;
    }

    .subscribe-box {
        width: 50%;
        height: 15%;
        margin: -3% auto;
    }

    .subscribe-box input {
        font-size: 17px;
    }

    .subscribe-button {
        width: 30px;
        height: 44px;
        margin-top: 0;
    }

    .subscribe-box p {
        padding-top: 10px;
        font-size: 17px;
    }
}

@media (min-width: 1000px) and (max-width: 1096px) {
    .banner .banner-image {
        width: 75%;
    }

    .banner-text-empty {
        display: none;
    }

    .services {
        margin-top: -350px;
    }

    .about {
        gap: 20px;
    }

    .about h2 {
        font-size: 35px;
        width: 80%;
    }

    .about-count-p {
        padding-right: 20px;
    }

    .review {
        margin-top: 150px;
    }
}

@media (min-width: 750px) and (max-width :1000px) {
    .container {
        margin: 0 14px;
    }

    nav {
        margin: 0;
        padding: 0;
    }

    nav li {
        padding: 20px 0 20px 0;
    }

    .center-nav {
        text-indent: 20px;
    }

    .banner {
        height: 500px;
        max-width: 100%;
    }

    .banner .banner-image {
        width: 100%;
        height: 470px;
        padding-left: 0;
    }

    .banner-text {
        width: 250px;
        top: -352px;
        left: 10px;
        text-align: center;
        margin-left: 20px;
    }

    .banner-text-empty {
        display: none;
    }

    .banner-text h2 {
        width: 75%;
        line-height: 30px;
        font-size: 25px;
        padding-left: 25px;
    }

    .banner-text p {
        padding-left: 25px;
        font-size: 13px;
        width: 80%;
        line-height: 18px;
        bottom: 420px;
    }

    .banner-left-underlay {
        display: none;
    }

    .banner-right-overlay {
        display: none;
    }

    .services {
        margin-top: -20%;
    }

    .services-headline {
        width: 100%;
    }

    .service-details {
        display: flex;
        width: 80%;
        gap: 16%;
        margin: auto;
    }

    .services-headline h2 {
        padding-left: 150px;
        font-size: 35px;
        line-height: 40px;
        width: 70%;
    }

    .service-description {
        justify-content: none;
    }

    .row {
        padding-right: 0;
        margin-right: 0;
        gap: 10%;
        width: 85%;
    }

    .service-description i {
        font-size: 24px;
        flex: 1;
    }

    .service-description h3 {
        font-size: 18px;
    }

    .service-description p {
        font-size: 15px;
        padding-bottom: 10px;
        width: 105px;
        margin: 0;
    }

    .about {
        display: block;
    }

    .about-image {
        width: 60%;
        height: 600px;
        margin: 20px 0 20px 150px;
    }

    .about-image img {
        width: 100%;
        height: 100%;
    }

    .about h2 {
        text-align: center;
        font-size: 35px;
        margin: auto;
    }

    .about-text-p {
        text-align: center;
        line-height: 23px;
        font-size: 18px;
        width: 78%;
        margin: auto;
    }

    .about-details-main {
        text-align: center;
        margin: auto;
        gap: 0;
        padding-left: -20px;
    }

    .about-count {
        font-size: 35px;
        margin: 10px;
        gap: 129px;
    }

    .about-count-p {
        text-align: left;
        font-size: 20px;
    }

    .about-details {
        margin: 20px;
        gap: 100px;
    }

    .button-arrow {
        text-align: center;
    }

    .process {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    .process-image {
        width: 60%;
        height: 700px;
        margin: 20px 0px 20px 150px;
    }

    .process-image img {
        width: 100%;
        height: 100%;
    }

    .process-details h2 {
        font-size: 35px;
        line-height: 40px;
        width: 82%;
        text-align: center;
        margin: auto;
    }

    .circle-counter {
        margin-left: 100px;
        align-items: center;
    }

    .process-contain {
        margin-top: 30px;
        margin-left: 30px;
        gap: 0;
    }

    .counter {
        width: 40px;
        height: 40px;
    }

    .counter p {
        font-size: 14px;
        line-height: 0;
    }

    .line {
        margin-left: 18px;
    }

    .process-list {
        margin: -10px 0 0 45px;
    }

    .process-head h3 {
        font-size: 25px;
        padding-top: 5px;
    }

    .process-list p {
        padding-left: 5%;
        font-size: 16px;
        line-height: 21px;
        padding-bottom: 40px;
        width: 70%;
    }

    .process-list p::before {
        height: 121%;
        top: -2%;
        left: -6%;
    }

    .review h2 {
        font-size: 35px;
        width: 37%;
    }

    .review-block {
        display: block;
    }

    .review-block:first-child {
        margin-right: 0;
    }

    .review-headline {
        margin: auto;
        width: 45%;
    }

    .review-headline h2 {
        width: 78%;
    }

    .review-details {
        margin: 20px 0px 20px 150px;
        width: 50%;
    }

    .review-details i {
        font-size: 50px;
    }

    .review-title {
        width: 50%;
        line-height: 35px;
    }

    .review-content {
        width: 95%;
    }

    .user-row {
        line-height: 25px;
        font-size: 14px;
    }

    .subscribe {
        margin-left: 20px;
        justify-self: center;
        align-items: center;
    }

    .subscription-alert {
        font-size: 28px;
        width: 52%;
        text-align: center;
    }

    .subscription-details {
        line-height: 20px;
        font-size: 14px;
        width: 44%;
    }

    .subscribe-box {
        width: 50%;
        margin-top: -35px;
        height: 48px;
    }

    .subscribe-button {
        height: 30px;
        margin-top: 20px;
        flex: 1;
    }

    .subscribe-box p {
        padding-top: 0;
        font-size: 14px;
    }

    .subscribe-box input {
        font-size: 10px;
        flex: 1;
    }

    .footer-about {
        align-items: center;
        text-align: center;
    }

    .footer-about p {
        width: 50%;
    }

    .footer-list {
        display: block;
        text-align: center;
        margin-left: -43px;
        margin-top: 30px;
    }

    .footer-list li h6 {
        margin-bottom: 0px;
    }

    .footer-list li a {
        text-align: center;
        line-height: 10px;
        margin-left: -10px;
    }

    .footer-list li:first-child {
        padding-bottom: 10px;
        margin-top: 30px;
    }
}

@media (min-width: 430px) and (max-width:750px) {
    .container {
        margin: 0 14px;
    }

    nav {
        margin: 0;
        padding: 0;
    }

    nav li {
        padding: 20px 0 20px 0;
        text-indent: 20px;
    }

    .center-nav {
        text-indent: 5px;
        font-size: 10px;
    }

    .banner {
        height: 450px;
        max-width: 90%;
        margin-left: 30px;
    }

    .banner .banner-image {
        width: 92%;
        height: 380px;
        padding-left: 0;
    }

    .banner-text {
        width: 250px;
        top: -370px;
        left: -20px;
        text-align: center;
        margin-left: 20px;
    }

    .banner-text-empty {
        display: none;
    }

    .banner-text h2 {
        width: 75%;
        line-height: 30px;
        font-size: 25px;
        padding-left: 25px;
    }

    .banner-text p {
        padding-left: 25px;
        font-size: 13px;
        width: 80%;
        line-height: 18px;
        bottom: 420px;
    }

    .banner-left-underlay {
        display: none;
    }

    .banner-right-overlay {
        display: none;
    }

    .services {
        margin-top: -30%;
    }

    .services-headline {
        width: 100%;
    }

    .service-details {
        display: flex;
        flex-direction: column;
        width: 80%;
        gap: 40%;
        margin: auto;
    }

    .services-headline h2 {
        padding-left: 150px;
        font-size: 35px;
        line-height: 40px;
        width: 70%;
    }

    .service-description {
        justify-content: none;
        gap: 0;
    }

    .row {
        padding-right: 0;
        margin-right: 0;
        gap: 16%;
        width: 85%;
    }

    .service-description i {
        font-size: 24px;
        flex: 1;
    }

    .service-description h3 {
        font-size: 18px;
    }

    .service-description p {
        font-size: 16px;
        padding-bottom: 57px;
        width: 140px;
        margin: 0;
    }

    .about {
        display: block;
    }

    .about-image {
        width: 68%;
        height: 530px;
        margin: auto;
    }

    .about-image img {
        width: 100%;
        height: 100%;
    }

    .about h2 {
        text-align: center;
        font-size: 35px;
        margin: auto;
        width: 71%;
    }

    .about-text-p {
        text-align: center;
        line-height: 23px;
        font-size: 18px;
        width: 97%;
        margin: auto;
    }

    .about-details-main {
        text-align: center;
        margin: auto;
        gap: 0;
    }

    .about-count {
        margin: 20px;
        gap: 55px;
        font-size: 35px;
    }

    .about-count-p {
        text-align: left;
        font-size: 20px;
    }

    .about-details {
        margin: 20px;
        gap: 52px;
    }

    .button-arrow {
        text-align: center;
    }

    .process {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    .process-image {
        width: 60%;
        height: 700px;
        margin: auto;
    }

    .process-image img {
        width: 100%;
        height: 100%;
    }

    .process-details h2 {
        font-size: 35px;
        line-height: 40px;
        width: 88%;
        text-align: center;
        margin: auto;
    }

    .circle-counter {
        margin-left: 100px;
        align-items: center;
    }

    .process-contain {
        margin-top: 30px;
        margin-left: 30px;
        gap: 0;
    }

    .counter {
        width: 40px;
        height: 40px;
    }

    .counter p {
        font-size: 14px;
        line-height: 0;
    }

    .process-list {
        margin: -10px 0 0 45px;
    }

    .process-head h3 {
        font-size: 25px;
        padding-top: 5px;
    }

    .process-list p {
        padding-left: 5%;
        font-size: 16px;
        line-height: 21px;
        padding-bottom: 40px;
        width: 70%;
    }

    .process-list p::before {
        height: 95%;
        top: 3%;
        left: -8%;
    }

    .review h2 {
        font-size: 35px;
        width: 37%;
    }

    .review-block {
        display: flex;
        flex-direction: column;
        gap: 50%;
    }

    .review-block:first-child {
        margin-right: 0;
    }

    .review-headline {
        margin: auto;
        width: 45%;
    }

    .review-headline h2 {
        width: 78%;
    }

    .review-details {
        margin: auto;
        width: 50%;
        gap: 20%;
    }

    .review-details i {
        font-size: 50px;
    }

    .review-title {
        width: 102%;
        line-height: 35px;
    }

    .review-content {
        width: 95%;
        font-size: 13px;
    }

    .user-row {
        line-height: 25px;
        font-size: 14px;
    }

    .subscribe {
        margin-left: 20px;
        justify-self: center;
        align-items: center;
    }

    .subscription-alert {
        font-size: 28px;
        width: 52%;
        text-align: center;
    }

    .subscription-details {
        line-height: 20px;
        font-size: 14px;
        width: 44%;
    }

    .subscribe-box {
        width: 50%;
        margin-top: -35px;
        height: 48px;
    }

    .subscribe-button {
        height: 30px;
        margin-top: 1px;
        flex: 1;
    }

    .subscribe-box p {
        padding-top: 6px;
        font-size: 12px;
    }

    .subscribe-box input {
        font-size: 10px;
        flex: 1;
    }

    .footer-list {
        display: block;
        text-align: center;
        margin-left: -43px;
        margin-top: 30px;
    }

    .footer-about {
        align-items: center;
        text-align: center;
    }

    .footer-about p {
        width: 50%;
    }

    .footer-list li h6 {
        margin-bottom: 0px;
    }
}

@media (min-width: 300px) and (max-width: 430px) {
    .container {
        margin: 0 14px;
    }

    nav {
        display: flex;
        gap: 1px;
    }

    nav li {
        padding: 0;
    }

    .material-icons {
        display: none;
    }

    .checkbutton {
        display: block;
    }

    .center-nav {
        width: 50px;
        height: 50px;
        background-color: #68696b;
        position: fixed;
        top: 275px;
        right: -200%;
        z-index: 1;
        display: block;
        text-indent: 20px;
        padding: 20px;
    }

    nav input {
        display: none;
    }

    .right-nav {
        margin-left: -20px;
    }

    #checking:checked~.center-nav {
        right: -66px;
        top: 76px;
        width: 50%;
        height: 30vh;
        margin-right: 0;
        text-align: left;
        line-height: 30px;
    }

    .banner {
        height: 250px;
    }

    .banner .banner-image {
        width: 100%;
        height: 300px;
        padding-left: 0;
    }

    .banner-text {
        width: 200px;
        top: -210px;
        left: 0px;
        text-align: center;
    }

    .banner-text-empty {
        display: none;
    }

    .banner-text-content h2 {
        line-height: 25px;
        font-size: 18px;
        padding-left: 0;
    }

    .banner-text-content p {
        padding-left: 0;
        font-size: 12px;
        line-height: 16px;
    }

    .banner-left-underlay {
        display: none;
    }

    .banner-right-overlay {
        display: none;
    }

    .service-details {
        display: flex;
        flex-direction: column;
        width: 80%;
        gap: 40%;
        margin: auto;
    }

    .services-headline h2 {
        padding-left: 0;
        font-size: 25px;
        line-height: 25px;
        width: 100%;
    }

    .services-headline h2::before {
        display: none;
    }

    .row {
        margin-left: -20px;
        padding: 0;
        gap: 10%;
    }

    .service-description {
        gap: 0px;
    }

    .service-description i {
        font-size: 24px;
    }

    .service-description h3 {
        font-size: 20px;
    }

    .service-description p {
        font-size: 14px;
        padding-bottom: 20px;
    }

    .about {
        display: block;
    }

    .about-image {
        width: 80%;
        height: 360px;
        margin: 35px;
    }

    .about-image img {
        width: 100%;
        height: 100%;
    }

    .about h2 {
        text-align: center;
        font-size: 25px;
        margin: auto;
        width: 71%;
    }

    .about-text {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .about-text-p {
        text-align: center;
        line-height: 23px;
        font-size: 14px;
        width: 97%;
        margin: auto;
    }

    .about-details-main {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
    }

    .about-details {
        flex-direction: column;
        gap: 28px;
        left: 0;
    }

    .about-count {
        flex-direction: column;
        font-size: 20px;
        gap: 40px;
    }

    .about-count-p {
        font-size: 15px;
        left: 0;
    }

    .button-arrow {
        margin: 50px 20px 20px 76px;
    }

    .process {
        display: block;
        margin-top: 50px;
    }

    .process-image {
        width: 80%;
        height: 350px;
        margin: 33px;
    }

    .process-image img {
        width: 100%;
        height: 100%;
    }

    .process-details h2 {
        font-size: 25px;
        line-height: 40px;
        width: 88%;
        text-align: center;
        margin: auto;
    }

    .process-contain {
        margin-top: 30px;
        flex: 1;
        gap: 0;
    }

    .counter {
        width: 30px;
        height: 30px;
        padding: 5px;
        text-align: center;
    }

    .counter p {
        margin: -4px;
        font-size: 14px;
        line-height: 0;
    }

    .line {
        margin-left: 19px;
    }

    .process-list {
        margin: 12px 0 0 25px;
    }

    .process-head h3 {
        font-size: 14px;
        padding-bottom: 0;
    }

    .process-list p {
        font-size: 13px;
        line-height: 21px;
        padding-bottom: 10px;
        width: 90%;
    }

    .process-list p::before {
        height: 125%;
        top: -10%;
        left: -2%;
    }

    .review-headline {
        margin: auto;
        width: 72%;
    }

    .review-headline h2 {
        width: 78%;
        font-size: 25px;
    }

    .review-block {
        display: block;
    }

    .review-details {
        margin: 20px;
    }

    .review-title {
        width: 105%;
    }

    .review-content {
        width: 100%;
    }

    .subscribe {
        margin-top: 50px;
        padding-bottom: 100px;
    }

    .subscription-alert {
        font-size: 25px;
        width: 82%;
    }

    .subscription-details {
        line-height: 20px;
        font-size: 14px;
        margin: 2px;
        width: 86%;
    }

    .subscribe-box {
        display: flex;
        flex-direction: column;
        gap: 0;
        width: 65%;
        margin-top: -43px;
        height: 58px;
    }

    .subscribe-button {
        width: 80px;
        height: 20px;
        margin-top: 18px;
        margin-right: 10px;
    }

    .subscribe-box a {
        font-size: 15px;
    }

    .subscribe-box p {
        padding-top: 5px;
        font-size: 13px;
    }

    .subscribe-box input {
        font-size: 10px;
        margin-top: 5px;
    }

    .footer-list {
        display: block;
        text-align: center;
        margin-left: -43px;
        margin-top: 30px;
    }

    .footer-about {
        align-items: center;
        text-align: center;
    }

    .footer-about p {
        width: 50%;
    }

    .footer-list li:first-child {
        font-size: 30px;
        padding-bottom: 10px;
        margin-top: 30px;
    }
}